<h1><%= @item.item_name %></h1>
<h2><%= @item.caption %></h2>
<p>ðŸ’²<%= @total_price %>ï¼ˆç¨Žè¾¼ï¼‰</p>
<%= form_with model: @item_cart,url: customers_cart_items_path,local: true do |f| %>
<%= f.select :quantity,options_for_select(1..10), prompt: "é¸æŠžã—ã¦ãã ã•ã„" %>
<%= f.hidden_field :customer_id, value: current_customer.id %>
<%= f.hidden_field :item_id, value: @item.id %>
<%= f.submit "ã‚«ãƒ¼ãƒˆã«å…¥ã‚Œã‚‹" %>
<% end %>
<%#= form_with model: @cart, local: true do |f| %>
<%# end %>
